<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<jee:jndi-lookup jndi-name="jdbc/searsdb" id="dataSource" expected-type="javax.sql.DataSource" /> 
	
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://172.29.78.16:3306/searsdb"></property>
		<property name="username" value="interns"></property>
		<property name="password" value="interns@2020"></property>
	</bean> -->

	<bean id="fetchDataFromTableUsingJoin"
		class="com.sears.FetchDataFromTableUsingJoin.FetchDataFromTableUsingJoin">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>