<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="ramformob" class="com.Spring.LernSpring.MobileRamRelation.Ram">
		<constructor-arg value="2gb"></constructor-arg>
		<constructor-arg value="samsung"></constructor-arg>
	</bean>
	
	<bean id="mob" class="com.Spring.LernSpring.MobileRamRelation.Mobile">
		<constructor-arg>
		<ref bean="ramformob"/>
		</constructor-arg>
	</bean>
	
</beans>