<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/aop/ 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 
 <aop:aspectj-autoproxy />
 
 
 <bean id="c" class="com.SpringJdbc.AopLearning.model.Circle">
 <property name="name" value="Circle"></property>
 </bean>
 
 <bean id="t" class="com.SpringJdbc.AopLearning.model.Triangle">
 <property name="name" value="Trianglee"></property>
 </bean>
 
 <bean id="s" class="com.SpringJdbc.AopLearning.Service.Service" autowire="byName">
 <property name="circle" ref="c"/>
 <property name="triangle" ref="t"/>
 </bean>
 
 <bean id="aspectLern" class="com.SpringJdbc.Aspect.AspectLearn"></bean>
 
 </beans>