<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:property-placeholder location="classpath*:DbDetails.properties"/>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driverClassName}"></property>
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
	</bean>

	<bean id="employeeservice"
		class="com.sears.EmployeeServiceInterfaceImple.EmployeeServiceInterfaceImple">
		<property name="employeeDao" ref="daoInterfaceImpl"></property>
	</bean>

	<bean id="daoInterfaceImpl" class="com.sears.DaoInterfaceImplement.DaoInterfaceImplement">
		<property name="dataSource" ref="dataSource"></property>
		<!-- <property name="employeeMapper" ref="employeerowMapper" /> -->
	</bean>

	<bean id="empl" class="com.sears.Employee.Employee">
	</bean>

	<bean id="Application" class="com.sears.Client.Application">
		<property name="employee" ref="empl"></property>
	</bean>
</beans>